<ac-map>
<!-- <ac-map-layer-provider 
        [provider]="mapProvider"
        [options]="{
            url : 'https://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer'
        }"
    > -->
  <!-- <div style="
    display: flex;
    position: absolute;
    z-index: 1;
  ">
    <select (change)="selected_feature = $event.target.value">
      <option value={{null}}>Select Feature</option>
      <option *ngFor="let feature of features" value={{feature}}>{{feature}}</option>
    </select>
    <div [ngSwitch]="selected_feature">
      <app-circle *ngSwitchCase="'circle'"></app-circle>
      <app-ellipse *ngSwitchCase="'ellipse'"></app-ellipse>
      <app-hippodrome *ngSwitchCase="'hippodrome'"></app-hippodrome>
      <app-point *ngSwitchCase="'point'"></app-point>
      <app-polygon *ngSwitchCase="'polygon'"></app-polygon>
      <app-polyline *ngSwitchCase="'polyline'"></app-polyline>
      <app-rectangle *ngSwitchCase="'rectangle'"></app-rectangle>
      <app-ztrect *ngSwitchCase="'zoomToRect'"></app-ztrect>
      <app-rangebearing *ngSwitchCase="'range-bearing'"></app-rangebearing>
    </div>
  </div> -->
  <!-- <app-html></app-html> -->
  <app-model></app-model>
<!-- </ac-map-layer-provider> -->
</ac-map>